@import url("//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css");
@import url("//cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.4/css/selectize.bootstrap3.min.css");
@import url("//cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.5.10/css/bootstrap-material-design.min.css");
@import url("//cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.5.10/css/ripples.min.css");
@import url("//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
@import url("//fonts.googleapis.com/css?family=Roboto:300,400,500,700");
@import url("//fonts.googleapis.com/icon?family=Material+Icons");


body{
    margin: 0;
}

.row hr {
    border-width: 1px;
    border-color: #DDD;
    margin-top: 5px;
    margin-bottom: 5px;
}

.modal-header > hr {
    border-width: 2px;
    border-color: #DDD;
    margin-top: 10px;
    margin-bottom: 0px;
}

.add {
    cursor: pointer;
}

.modal-content .modal-body {
    padding-top: 15px;
}

.remove {
    cursor: pointer;
    display: none;
}

.toggle {
    margin-left: 12px;
}

#file{
    margin-top: 15px;
    border-bottom: 1px solid ;
    margin-bottom: 20px;
    text-align: center;
    padding-bottom: 10px;
}

#file i{
    font-size: 18px !important;
    margin-right:15px;
    display: inline-block;
}

#menu{
    text-align: center;
}

#menu img{
    width: 100px;
    margin-bottom: 20px;
    display: inline-block;
}

#moodler {
    height: 100vh;
    background-color: #DDFFDD;
    display: block;
}
